# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de dependências
/vendor/
/node_modules/

# Arquivos temporários
/temp/
/tmp/
*.tmp
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Diretórios de cache
/.phpunit.cache/
/.phpunit.result.cache